# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environments
venv/
.venv/
env/
.env

# Node.js
node_modules/
dist/
dist-ssr/
*.local

# System files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
